{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{deps_dir, "deps"}.
{deps, [
    {syn,    ".*", {git, "git://github.com/ostinelli/syn", {tag, "1.1.0"}    }},
    {active, ".*", {git, "git://github.com/synrc/active",  {tag,"master"}}},
    {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.8.0"}  }},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",   {tag,"master"}}},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",     {tag,"master"}}}
]}.

{erlydtl_opts, [
%%    {doc_root,   "priv/static"},
    {out_dir,    "ebin"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.
