{release,{"switch_watchman","0.0.1"},[switch_watchman, syn, erlydtl, nitro, n2o, sasl, mad]}.
{sys_config,"sys.config"}. 
{dev_mode, false}.
{include_erts,true}. 
{include_src,false}. 
{extended_start_script,true}.

{generate_start_script,true}.
{vm_args,"vm.args"}.


{overlay, [ {copy, "manager", "{{output_dir}}"}]}.
