
[{active, [{compile_on_static,true}]},
 {n2o, [{port,8000},
        {app,switch_watchman},
        {mode,dev},
        {route,routes},
        {mq,n2o_syn},
        {formatter,bert},
        {minify,{"priv/static",
                ["deps/n2o/priv/protocols/bert.js",
                 "deps/n2o/priv/protocols/client.js",
                 "deps/n2o/priv/protocols/nitrogen.js",
                 "deps/n2o/priv/utf8.js",
                 "deps/n2o/priv/validation.js",
                 "deps/n2o/priv/template.js",
                 "deps/n2o/priv/bullet.js",
                 "deps/n2o/priv/n2o.js"
                 ]}},
        {log_modules,config},
        {log_level,config},
        {log_backend,n2o_log},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]},
 {snmp, [{manager, [{priority, normal},
                    {versions, [v1,v2,v3]},
                    {config, [{dir, "manager/conf/"},
                    {db_dir, "manager/db/"},
                    {db_init_error, create},
                    {repair, true},
                    {auto_save, 5000},
                    {verbosity, silence}]},
                    {inform_request_behaviour, auto},
                    {mibs, ["manager/mibs/LLDP-MIB","manager/mibs/IF-MIB"]},
                    {server, [{timeout,30000},{verbosity,silence}]},
                    {note_store, [{timeout,30000},{verbosity,silence}]},
                    {net_if, [{module,snmpm_net_if},{verbosity,silence},{options,[{bind_to,false},{no_reuse,false}]}]} ] }] },
%%  {kvs, [{dba,store_mnesia},
%%         {schema, [ kvs_user, kvs_acl, kvs_feed, kvs_subscription
%%                   ]} ]}
 {switch_watchman, [{scalar, [lldpLocChassisIdSubtype,
                              lldpLocChassisId,
                              lldpLocSysName]},
                    {table, [lldpLocPortTable,
                              lldpRemTable]}]}
].
