<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='assets/material-components-web.min.css' type='text/css' rel='stylesheet'>
        <link href='assets/vis.min.css' type='text/css' rel='stylesheet'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <title>拓扑图</title>
    </head>
    <body>
      {{body}}
        <!--script>var transition = {pid: '', host: 'localhost', port:'8000'};</script-->
        <script>{{script}}</script>
        <script src="assets/material-components-web.min.js"></script>
        <script>window.mdc.autoInit();</script>
        {{javascript}}
        <script>protos = [$bert]; N2O_start();</script>
    </body>
</html>
